<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>요바나시 멤버 리스트</title>
</head>
<body>
<div align="center">
    <h2>요바나시 직원 여러분들의 방문을 환영합니다</h2>
    <h3>요바나시 직원 정보</h3>
    <hr>
    <table border="1">
        <th>이름</th> <th>직책</th> <th>시급</th> <th>입사일</th>
        <%for (const member of members) {%>
            <tr>
                <td><a href = "/detail/<%=member.id%>"><%=member.name%></a></td>
                <td><%=member.position%></td>
                <td><%=member.money%></td>
                <td><%=member.regdate%></td>
            </tr>
        <% } %>
    </table>
    <hr>
    <h2>이번주 룸 담당자</h2>

    <a href = "/regist">[직원 등록]</a>
    <a href = "/user">[회원 가입]</a>
</div>



</body>
</html>